{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
浩哥博客-详情页
{% endblock %}

{% block content %}

<div class="container">
	<div class="row text-center vertical-middle-sm">
		<h1>{{ article.title }}</h1>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<p class="text-center">
				<span>
					{{ article.author.username }}
				</span>
				<span style="margin-left:20px">
					{{ publish }}
				</span>
			</p>
			<div>{{ article.body }}</div>
		</div>
			
		<div class="col-xs-6 col-md-4">
				<h2>广告</h2>
				<p>我是你浩哥哥哟</p>
		</div>
	</div>
</div>

{% endblock %}