{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
用户注册
{% endblock %}

{% block content %}

    <div class="row text-center vertical-middle-sm">
        <h1>注册</h1>
        <p>如果您是会员，<strong><a href="{% url 'account:login' %}">登录</a></strong>，请注册~</p>
        <form action="." class="form-horizontal" method="post">
            <div class="form-group">
                <laber for='{{ form.username.id_for_label }}' class="col-md-5 control-label">用户名</laber>
                <div class="col-md-6 text-left">{{ form.username }}</div>
            </div>
            <div class="form-group">
                <laber for='{{ form.email.id_for_label }}' class="col-md-5 control-label">邮箱</laber>
                <div class="col-md-6 text-left">{{ form.email }}</div>
            </div>
            <div class="form-group">
                <laber for='{{ form.password.id_for_label }}' class="col-md-5 control-label">密码1</laber>
                <div class="col-md-6 text-left">{{ form.password }}</div>
            </div>
            <div class="form-group">
                <laber for='{{ form.password2.id_for_label }}' class="col-md-5 control-label">密码2</laber>
                <div class="col-md-6 text-left">{{ form.password2 }}</div>
            </div>

            <input type="submit" class="btn btn-primary btn-lg" value="注册">
            {% csrf_token %}
        </form>
    </div>

{% endblock %}